@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


body {
  background-image: url("images/3.jpg");
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  color: black;
  font-size: 16px;
}


.flex-container {
  width: 700px;
  margin: 0 auto;
}

.card-white {
  background-color: white;
  box-shadow: 1px 1px 5px 2px black;
  text-align: center;
  border-radius: 4px;
}


h1, h2, h5, h6 {
  color: black;
  font-size: 30px;
  line-height: 3px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

.intro-text p {
  padding: 15px 0 15px 0;
}

ul {
  color: #626262;
  list-style-type: none;
  padding-left: 0px;
}

ul.list-inline {
  color: #626262;
  list-style-type: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 4px;
}

.nav-link {
  float: left;
  display: block;
  right: 8px;
}

#image-resize {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#github {
  font-size: 20px;
  position: relative;
  color: white;


}

#github:hover {
  color: black;
}

#github:active{
  top: 2px;
  left: 3px
}

#ruby {
  color: #D596B9;
}

#html {
  color: black;
}

#css {
  color: #57C2F0;
}

#java {
  font-size: 16px;
  color: #C691F7;
}

.text-right {
  text-align: right;
  font-size: 10px;
}

.request-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px;
  font-size: 12px;

}


.request-nav a {
  text-decoration: none;
  color: white;
  font-family: 'Cabin', sans-serif;
  background-color: #3FB2E4;
  border-radius: 4px;
}

.request-nav-item {
  margin: 4px;
}

.request-nav-item:hover {
  color: white;
  box-shadow: 0 0 8px #E2ACD0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #E2ACD0;
    box-shadow: 0 0 4px #E2ACD0;
    font-weight: bolder;
    color: black;
}

.card-white img {
    height: 320px;
    object-fit: cover;
}


a {
  text-decoration: none;

}

.link-style a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.link-style a:hover {
    color: #3FB2E4;
    text-decoration: none;
}

.inner-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

.hashtag-text {
  font-size: 12px;
}

.button-text {
  font-size: 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .flex-container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .flex-container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .flex-container {
    width: 350px;
  }

  .button-text {
  font-size: 12px;
  }
}




/*.container {
  margin: 20px auto 20px auto;
  text-align: center;
}*/



/*.list-inline {
  display: inline-block;
}*/


/*Body
Pick a nice background-color, font-family, color, font-size and line-height for the <body>.
Setting these font rules at the body-level will apply them on all basic text tags (<p>, <li>, etc.).

Headers
Choose a nice color and font-family for headers (<h1>, <h2>, <h3>)
Choose harmonious font-size and line-height for headers
Hint: small headers are more elegant. If you check out any website
(Medium, Airbnb, etc.), you’ll see that the font-size of their headers is quite small.
Links
Change the color & text-decoration of all the links
Add hover effects to links using the pseudo-class a:hover.*/
